<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout}">
<head>
    <title>Dish List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <main layout:fragment="content">
        <div class="container">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <td th:text="${book.id}"></td>
            </tr>
            <tr>
                <th>Tên sách</th>
                <td th:text="${book.bookName}"></td>
            </tr>
            <tr>
                <th>Tên tác giá</th>
                <td th:text="${book.author}"></td>
            </tr>
            <tr>
                <th>Giá bán</th>
                <td th:text="${book.price}"></td>
            </tr>
        </table>
        <a th:href="@{/book}">Quay lại</a>
        </div>
    </main>
</body>
</html>
