<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cập nhật khóa học</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h2 class="text-center">Cập nhật khóa học</h2>
<div class="container">
    <form th:action="@{/update}" th:object="${course}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Mã khóa học :</label>
            <input class="form-control" type="text" th:field="*{id}">
            <small class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
        </div>
        <div class="form-group">
            <label>Tên khóa học :</label>
            <input class="form-control" type="text" th:field="*{courseName}">
            <small class="text-danger" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></small>
        </div>
        <div class="form-group">
            <label>Giảng viên phụ trách :</label>
            <input class="form-control" type="text" th:field="*{instructor}">
            <small class="text-danger" th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></small>
        </div>
        <div class="form-group">
            <label>Thời lượng :</label>
            <input class="form-control" type="text" th:field="*{duration}">
            <small class="text-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></small>
        </div>
        <div class="form-group">
            <label>Ảnh :</label>
            <input class="form-control" type="file" th:field="*{imgage}">
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
        <button type="reset" class="btn btn-secondary">Làm lại</button>
    </form>
</div>

</body>
</html>