<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết món ăn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">

    <h3>Chi tiết món ăn</h3>


    <ul class="list-group">
        <li class="list-group-item">
            <b>Tên:</b> <span th:text="${food.name}"></span>
        </li>

        <li class="list-group-item">
            <b>Danh mục:</b> <span th:text="${food.category}"></span>
        </li>

        <li class="list-group-item">
            <b>Giá:</b> <span th:text="${food.price}"></span>
        </li>

        <li class="list-group-item">
            <b>Đường dẫn file:</b>
            <img th:src="@{'/uploads/' + ${food.imagePath}}" width="200">
    </ul>

</div>

</body>
</html>